
html{
    background-color: #beffbe;
}

body, #mainWrapper {
    height: 100%;
    background-image: -webkit-gradient(
            linear,
            right bottom,
            right top,
            color-stop(0, #EDEDED),
            color-stop(0.08, #EAEAEA),
            color-stop(1, #beffbe),
            color-stop(1, #AAAAAA)
    );
    background-image: -o-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #beffbe 100%, #AAAAAA 100%);
    background-image: -moz-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #beffbe 100%, #AAAAAA 100%);
    background-image: -webkit-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #beffbe 100%, #AAAAAA 100%);
    background-image: -ms-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #beffbe 100%, #AAAAAA 100%);
    background-image: linear-gradient(to top, #EDEDED 0%, #EAEAEA 8%, #beffbe 100%, #AAAAAA 100%);
}

body, #mainWrapper, .form-control{
    font-size:12px!important;
}

#mainWrapper {
    /*height: 720px; Without explicit px values, % in children's does not work*/
    height: 100vh; /*with Viewport-Percentage, we can handles all devices screens  */
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
}

.login-container {
    margin-top: 100px;
    background-color: floralwhite;
    width: 40%;
    left: 30%;
    position: absolute;
}

.login-card {
    width: 80%;
    margin: auto;
}
.login-form {
    padding: 10%;
}

.form-container {
    position:fixed;
    width:50%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #E8E1E1;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.floatRight{
    float:right;
    margin-right: 18px;
}

.has-error{
    color:red;
}


.success{
    position:fixed;
    width:50%;
    margin-left: 50px;
    margin-top:20px;
    padding: 20px;
    background-color: #E8E1E1;
    border: 1px solid #ddd;
    border-radius: 4px;
}
